@using LumenApi.Web.Models.Params
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UserCreatePassword;
@{
    ViewData["Title"] = "Create New Password";
}
<script>
    $(document).ready(function(){
        $(".success-data").hide();
    })
    function resetValidation() {
        $("#emailError").hide();
        $("#Email").removeClass("is-invalid");

        $("#passwordError").hide();
        $("#Password").removeClass("is-invalid");

        $("#confirmPasswordError").hide();
        $("#ConfirmPassword").removeClass("is-invalid");
    }
    function submitForm() {
        var email = $("#Email").val();
        var password = $("#Password").val();
        var confirmPassword = $("#ConfirmPassword").val();
        var userId = $("#UserId").val();
        resetValidation();
        if (email === null || email === undefined || email === "") {
            $("#emailError").show();
            $("#Email").addClass("is-invalid");
        } else if (password === null || password === undefined || password === "") {
            $("#passwordError").show();
            $("#Password").addClass("is-invalid");
        } else if (confirmPassword === null || confirmPassword === undefined || confirmPassword === "") {
            $("#confirmPasswordError").show();
            $("#ConfirmPassword").addClass("is-invalid");
        } else if (password !== confirmPassword) {
            $("#confirmPasswordError").show();
            $("#ConfirmPassword").addClass("is-invalid");
        } else {
            var jsonData = {
                email: "",
                userId: "",
                password: "",
                confirmPassword: "",
                userName: "",
                description: ""
            };
            jsonData.email = email;
            jsonData.password = password;
            jsonData.userId = userId;
            jsonData.confirmPassword = confirmPassword;
            var settings = {
                "url": "http://localhost:57678/api/Account/CreateNewPassword",
                "type": "POST",
                "data": JSON.stringify(jsonData),
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                }
            }
            $.ajax(settings).done(function (response) {
                if (response.data === true) {
                    $(".form-data").hide();
                    $(".success-data").show();
                } else {
                    $(".form-data").show();
                    $(".success-data").hide();
                }
            })
        }

    }
</script>
<div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card px-5 py-5" id="form1">
                        <div class="form-data">
                            <div class="forms-inputs mb-4">
                                <span>Email or username</span>
                                <input name="Email" class="form-control errorClass" title="Email" placeholder="Enter Email" id="Email" value="@Model.Email" disabled />
                                <input name="UserId" title="UserId" placeholder="Enter UserId" id="UserId" value="@Model.UserId" type="hidden" />
                                <div id="emailError" class="invalid-feedback">
                                    Please provide a valid email.
                                </div>
                            </div>
                            <div class="forms-inputs mb-4">
                                <span>Password</span>
                                <input name="Password" class="form-control errorClass" title="Password" placeholder="Enter Password" id="Password" />
                                <div id="passwordError" class="invalid-feedback">
                                    Please provide a valid password.
                                </div>
                            </div>
                            <div class="forms-inputs mb-4">
                                <span>Confirm Password</span>
                                <input name="ConfirmPassword" class="form-control errorClass" id="ConfirmPassword" title="CPassword" placeholder="Enter Confirm Password" />
                                <div id="confirmPasswordError" class="invalid-feedback">
                                    Confirm password must match the password.
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-dark w-100" onclick="submitForm()">Create Password</button>
                            </div>
                        </div>

                        <div class="success-data">
                            <div class="text-center d-flex flex-column">
                                <i class='bx bxs-badge-check'></i>
                                <span class="text-center fs-1">New Password Created. <br> Successfully</span>
                                <span class="text-center fs-4">Now you can close this page and login again.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    }


</div>


